body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-image: url(./img/kuwaitcodes.png);
}
.card {
  /* المطلوب الثاني هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 5px 5px 10px cornsilk; 
  border-radius: 15%;
  margin-top: 300px;
}

img {
  /* المطلوب الثالث هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  border-radius:  50%;
   box-shadow: 5%
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

 h3:hover {
  background-color: yellow; }

